.section_title{
    @extend .pb-5;
    @extend .mb-0;
}
.choose_reg_tabs{
    .row > [class*=col]:first-child{
        padding-right: 0;
    }
    .row > [class*=col]:last-child{
        padding-left: 0;
    }
    .nav.nav-pills{
        .nav-link{
            border: 1px solid transparent;
            margin: -1px;
            @extend .text-right;
            @extend .btn-link;
            &.active{
                border-color: $gray-300;
                border-right-color: transparent;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                position: relative;
                color: $link-hover-color;
                &:before{
                    content: '';
                    display: block;
                    position: absolute;
                    height: 100%;
                    width: 2px;
                    right: -1px;
                    top:0px;
                    background: $white;
                    z-index: 1;
                }
            }
        }
    }
    .tab-content{
        border-left: 1px solid $gray-300;
        @extend .pl-2;
        min-height: 38px;
        height: 100%;
        padding-left: 0 !important;

        a{
            color: $gray-600;
            &:hover, &.active{
                color: $link-hover-color;
            }
        }

    }

}
.top_banner{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    margin: 0;
}
.regions_tabs{
    .nav.nav-tabs{
        margin-top: -46px;
        border: none;
        .nav-item{
            font-size: $h5-font-size;
            a{
                border: none;
                color: $white;
                &.active{
                    color: $dark;
                }
            }
            @media (max-width: map_get($grid-breakpoints, sm)) {
                &{
                    & + .nav-item{
                        a{
                            border-top: 1px solid $gray-300;
                            border-left: 1px solid $gray-300;
                            border-right: 1px solid $gray-300;
                            border-radius: 0;
                        }

                    }
                    &:last-child{
                        a{
                            border-bottom: 1px solid $gray-300;
                            border-radius: 0 0 $border-radius $border-radius;
                        }

                    }

                    a{
                        color: $dark;
                        background: $white;
                        border-bottom: 1px solid;
                        &.active{
                            background: $primary;
                            border-color:  $primary;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}

.object_small{
    @extend .border;
    @extend .rounded;
    @extend .bg-white;
    .thumb{
        width: 85px;
    }
    .inf{
        font-size: $font-size-xs;

        .text-truncate{
            max-width: 235px;
            @media (max-width: map_get($grid-breakpoints, xl)) and (min-width:map_get($grid-breakpoints, lg)) {
                max-width: 180px;
            }
        }
    }
    &:hover{
        border-color: $link-hover-color !important;
        a{
            text-decoration: none;
        }
    }

}
