//sizes
.h_k1{
    height: 85px;
}
.h_k2{
    height: 170px;
}
.h_k3{
    height: 255px;
}

//typografy
.text-decoration-none{
    text-decoration: none !important;
}
.text-shadow{
    text-shadow: 1px 1px 1px $dark;
}

//blocks
.stars{
    @extend small;
    color: $secondary;
    i{
        color: $orange;
    }
}
